#rohan-headline {
   padding: 115px 0;
   background-color: #EBFCF4;
}

#rohan-headline h1 span {
   color: #38D191;
}

#rohan-headline h1 {
   font-size: 40px;
   line-height: 48px;
   font-weight: bold;
   color: #000;
}

#rohan-headline .rohan-headline__btns {
   margin-top: 40px;
}

#rohan-headline .rohan-headline__btns a {
   text-decoration: none;
   padding: 15px 45px;
   border-radius: 12px;
   font-weight: bold;
   font-size: 20px;
   line-height: 28px;
}

#rohan-headline .rohan-headline__btns__hire_me {
   background-color: #38D191;
   color: #000;
}

.rohan-skills__head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 32px;
}

.rohan-skills__list {
   display: flex;
   gap: 25px;
   flex-wrap: wrap;
}

#rohan-skills {
   margin: 125px 0;
}

.rohan-skills__list a {
   border-radius: 12px;
   padding: 15px 25px;
   border: 1px solid #cdf6e4;
   font-weight: bold;
   cursor: pointer;
   font-size: 24px;
   line-height: 32px;
}
.education-section__institute{
   gap: 15px;
}
.education-section__column:first-child .education-section__institute-logo{
   width: 100px;
}
.education-section__column:last-child .education-section__institute-logo{
   width: 120px;
}
.education-section__header{
   margin-bottom: 32px;
}
.education-section{
   margin-bottom: 60px;
}
.education-section__institute-name{
   font-size: 24px;
   line-height: 32px;
   font-weight: bold;
}
.education-section__column p{
   margin: 0;
}
.education-section__column{
   background-color: #EDFFF3;
   padding: 16px;
   margin-bottom: 25px;
   border-radius: 12px;
}
.education-section__column:first-child{
   margin-right: 20px;
}
.rohan-skills__head p {
   max-width: 630px;
}

.rohan-contact-bg {
   background-color: #38D191;
}

#rohan-contact {
   padding: 62px 60px;
   border-radius: 62px;
   margin-bottom: 35px;
   display: inline-block;
}

.contact-section__heading {
   font-size: 40px;
   line-height: 48px;
   font-weight: bold;
}

.contact-section__description {
   font-size: 18px;
   margin-bottom: 30px;
   margin-top: 24px;
   line-height: 26px;
}

.contact-section__support {
   display: flex;
   align-items: center;
   gap: 10px;
}

.contact-section__icon {
   width: 24px;
   height: 24px;
   background: #0d6efd;
   border-radius: 50%;
}

.contact-form__input,
.contact-form__textarea {
   margin-bottom: 20px;
   width: 100%;
   padding: 15px 20px;
   font-size: 16px;
   line-height: 24px;
   color: #000;
   border-radius: 12px;
   border: 1px solid #9eaaa2;
   resize: none;
}

.contact-form__button {
   background-color: #000;
   color: white;
   font-weight: bold;
   border: none;
   padding: 10px 20px;
   border-radius: 66px;
}

.contact-form a,
.contact-section__support a {
   color: #000;
   text-decoration: none;
   font-weight: bold;
}
.education-section__degree-info, .education-section__year{
   font-size: 16px;
   line-height: 24px;
}
.education-section__degree-info{
   margin: 16px 0;

}
.education-section__degree-info .education-section__major, .education-section__year{
   color: #79819A;
}

/* Mobile Modifier */
@media (max-width: 1024px) {

   .container,
   .container-md,
   .container-sm {
      max-width: 100%;
   }

   .header {
      padding: 10px 13.5px;
   }
}

@media (max-width: 767px) {
   #rohan-headline {
      padding: 55px 0;
   }

   #rohan-headline h1 {
      font-size: 25px;
      line-height: 33px;
   }

   #rohan-headline .rohan-headline__btns {
      margin-top: 20px;
   }

   .rohan-skills__list a {
      font-size: 18px;
      line-height: 26px;
   }

   .rohan-skills__list a img {
      height: 30px;
   }

   .rohan-skills__list {
      gap: 10px;
   }

   #rohan-skills {
      margin: 60px 0;
   }

   .rohan-skills__head {
      flex-direction: column;
      margin-bottom: 18px;
   }

   #rohan-headline .rohan-headline__btns a {
      padding: 10px 20px;
      font-size: 15px;
      line-height: 23px;
   }

   #rohan-headline img,
   .footer__logo__text img {
      height: 40px;
   }

}
@media (max-width: 667px) {
   .education-section__column:first-child{
      margin-right: 0px;
   }
}